* {
    margin: 0px;
    padding: 0px;
}

button {
    border: none;
    font-size: 20px;
    border-radius: 9px;
    padding: 32px 32px;
    background-color: #CABDBD;
    color: #271515 ;
}

button:hover {
    background-color: #a78585;
}

h1, h2 {
    color: #120C0C;
}

/* Custom Theme */
.header {
    text-align: center;
    width: 100%;
    height: auto;
}

.background {
    padding: 0;
    width: auto;
    height: auto;
}

.contents {
    transform: translate(0%, 60%);
    padding: 3px;
    text-align: center;
}
body {
    font-family: "Microsoft Himalaya", Himalaya, serif;
    font-size: 26px;
    background-image: url("assets/img_redwood_forest.png")
}

/* Redwood */
.background-redwood {
    background-image: url("assets/img_redwood.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

